<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
$(function() {
$('a.direction').bind('click', function() {
$.getJSON('/enemy/' + $(this).attr('id'), function(data) {});
return false;
});
});
</script>
</head>
<body>
Hello World!<br>
<div class='container'>
<form>
<a href='#' class="direction" id='left'><button>Left</button></a>
<a href='#' class="direction" id='right'><button>Right</button></a>
<a href='#' class="direction" id='up'><button>Up</button></a>
<a href='#' class="direction" id='down'><button>Down</button></a>
</form>
</div>
</body>
</html>