<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='easycanvas.min.js') }}"></script>
<script type="text/javascript">
var canvas;
var render;

var block;
var player;

const EMPTY=0;
const WALL=1;
const POINT=2;
const SPAWN=3;

//https://trolsoft.ru/en/articles/rgb565-color-picker
const WALL_COLOR='#0996FF';
const POINT_COLOR='#F7BA00';
const PLAYER_COLOR='#EFFF00';
const BAD1_COLOR='#EF0000';
const BAD2_COLOR='#00EBD6';
const BAD3_COLOR='#EF9600';
const BAD4_COLOR='#EF00A5';

var map = [
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
[1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 0, 0, 0, 0, 0, 1, 0, 1],
[1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 0, 0, 0, 0, 0, 1, 0, 1],
[1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 0, 0, 0, 0, 0, 1, 0, 1],
[1, 0, 1, 0, 0, 0, 0, 0, 1, 2, 1, 1, 2, 2, 2, 1, 1, 2, 2, 2, 1, 1, 2, 1, 0, 0, 0, 0, 0, 1, 0, 1],
[1, 0, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1],
[1, 0, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 0, 1],
[1, 0, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1, 0, 1],
[1, 0, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 0, 1],
[1, 0, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1],
[1, 0, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1],
[1, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 0, 1],
[1, 0, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 0, 1],
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
];

var player;
var bad1, bad2, bad3, bad4;

var selected = -1;

function initDraw() {
    canvas = document.getElementById("canvas");
    render = canvas.getContext("2d");

    // window.onkeydown = function (e) {
    //     e.preventDefault();
    // };
    // canvas.addEventListener("touchstart", function (e) {
    //     e.preventDefault();
    // }, false);
    canvas.addEventListener("click", function (e) {
        var blockSize = canvas.width / 32;
        var i = Math.floor(e.offsetX / blockSize), j = Math.floor(e.offsetY / blockSize);
        alert(i + ", " + j);
        if (i == Math.floor(bad1.x / blockSize) && j == Math.floor(bad1.y / blockSize)) {
            $.post('/select', {'control': '0'});
            selected = 0;
        } else if (i == Math.floor(bad2.x / blockSize) && j == Math.floor(bad2.y / blockSize)) {
            $.post('/select', {'control': '1'});
            selected = 1;
        } else if (i == Math.floor(bad3.x / blockSize) && j == Math.floor(bad3.y / blockSize)) {
            $.post('/select', {'control': '2'});
            selected = 2;
        } else if (i == Math.floor(bad4.x / blockSize) && j == Math.floor(bad4.y / blockSize)) {
            $.post('/select', {'control': '3'});
            selected = 3;
        } else {

        }
        e.preventDefault();
    }, false);

    canvas.style.background = "#000000";
    block = new CanvasBlock("block", "rect", [0, 0], [10, 10], "#ffffff");
    player = new CanvasBlock("player", "rect", [0, 0], [10, 10], PLAYER_COLOR);
    bad1 = new CanvasBlock("bad1", "rect", [-1, -1], [10, 10], BAD1_COLOR);
    bad2 = new CanvasBlock("bad2", "rect", [-1, -1], [10, 10], BAD2_COLOR);
    bad3 = new CanvasBlock("bad3", "rect", [-1, -1], [10, 10], BAD3_COLOR);
    bad4 = new CanvasBlock("bad4", "rect", [-1, -1], [10, 10], BAD4_COLOR);
    clear(render);
    animate();
}

var frameCount = 0;
var readAPI = false;
function animate() {
    clear(render);
    var blockSize = canvas.width / 32;
	for (var i = 0; i < 32; i++) {
        for (var j = 0; j < 32; j++) {
            if (map[j][i] == WALL) {
                block.x = i * blockSize;
                block.y = j * blockSize;
                block.width = blockSize;
                block.height = blockSize;
                block.background = WALL_COLOR;
                block.draw(render);
            }
        }
    }
    if (readAPI) {
        player.width = blockSize;
        player.height = blockSize;
        player.draw(render);
        bad1.width = blockSize;
        bad1.height = blockSize;
        if (bad1.x > 0 && bad1.y > 0) {
            bad1.draw(render);
        }
        bad2.width = blockSize;
        bad2.height = blockSize;
        if (bad2.x > 0 && bad2.y > 0) {
            bad2.draw(render);
        }
        bad3.width = blockSize;
        bad3.height = blockSize;
        if (bad3.x > 0 && bad3.y > 0) {
            bad3.draw(render);
        }
        bad4.width = blockSize;
        bad4.height = blockSize;
        if (bad4.x > 0 && bad4.y > 0) {
            bad4.draw(render);
        }
    }
    if (frameCount >= 60 * 2) {
        readAPI = true;
        frameCount = 0;
        $.getJSON( "/api", function (jason) {
            var pos = jason.pac_loc.split(" ");
            player.x = parseInt(pos[0] * (canvas.width / 128));
            player.y = parseInt(pos[1] * (canvas.width / 128));
            pos = jason.b1_loc.split(" ");
            bad1.x = parseInt(pos[0] * (canvas.width / 128));
            bad1.y = parseInt(pos[1] * (canvas.width / 128));
            pos = jason.b2_loc.split(" ");
            bad2.x = parseInt(pos[0] * (canvas.width / 128));
            bad2.y = parseInt(pos[1] * (canvas.width / 128));
            pos = jason.b3_loc.split(" ");
            bad3.x = parseInt(pos[0] * (canvas.width / 128));
            bad3.y = parseInt(pos[1] * (canvas.width / 128));
            pos = jason.b4_loc.split(" ");
            bad4.x = parseInt(pos[0] * (canvas.width / 128));
            bad4.y = parseInt(pos[1] * (canvas.width / 128));
        });
    }
    optimizeAnimationLoop(function () {
        frameCount++;
        animate();
    });
}

$(function() {
$('a.direction').bind('click', function() {
$.post('/enemy', {'direction': $(this).attr('id')})
return false;
});

initDraw();
});
</script>
<style>
button {
width:100%;
height:100%;
}
</style>
</head>
<body>
<canvas id="canvas" width="256" height="256"></canvas>
<div class='container' style="width:200px;height:200px;">
<form>
<table style="width:100%;height:100%;">
<tr>
<td></td>
<td><a href="#" class="direction" id="up"><button>Up</button></a></td>
<td></td>
</tr>
<td><a href="#" class="direction" id="left"><button>Left</button></a></td>
<td></td>
<td><a href="#" class="direction" id="right"><button>Right</button></a></td>
<tr>
<td></td>
<td>
<a href="#" class="direction" id="down"><button>Down</button></a></td>
<td></td>
</tr>
</table>
</form>
</div>
</body>
</html>