<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
$(function() {
$('a#left').bind('click', function() {
$.getJSON('/left', function(data) {});
return false;
});
$('a#right').bind('click', function() {
$.getJSON('/right', function(data) {});
return false;
});
$('a#up').bind('click', function() {
$.getJSON('/up', function(data) {});
return false;
});
$('a#down').bind('click', function() {
$.getJSON('/down', function(data) {});
return false;
});
});
</script>
</head>
<body>
Hello World!<br>
<div class='container'>
<form>
<a href='#' id='left'><button>Left</button></a>
<a href='#' id='right'><button>Right</button></a>
<a href='#' id='up'><button>Up</button></a>
<a href='#' id='down'><button>Down</button></a>
</form>
</div>
</body>
</html>